<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/arf.framework/src/art/framework/example/parser/AbstractPredicateWriter.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="art.framework.example.parser.AbstractPredicateWriter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="arf.framework"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xms2024m -Xmx2024m"/>
</launchConfiguration>
